<section class="home-section" id="title">

    <div class="container-fluid p-0">

        <nav  class="navbar navbar-expand-lg  navbar-dark py-3 fixed-top">
            <div class="container">
                <div class="logo">
                <a href="" ><img src="assets/images/logo.jpg"></a>
                <a href="#" class="navbar-brand" style="margin-left: 20px;"></a>
        
                </div>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a routerLink="/login" class="nav-link text-light" style=" font-size: 1.2rem; font-weight: bold">Impilo</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="" class="nav-link" style="color: aliceblue;"></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        
      
    </div>
  </section>
  <section class="blog">
    <div class="container">
      <div class="row content">
        <div class="fill col-md-6 mb-3">
          <img src="assets/images/image.jpg" class="img-fluid" alt="image">
        </div>
        <div class="writing col-md-6">
          <h4 class="blog-text mb-3">Nutrition</h4>
          <h5 class="name">Written By:</h5>
          <h6 class="zintle">Azabenathi Pupuma</h6>
          <p class="text">Have you ever been concerned about your health before? This is for you,
            <b id="us">Impilo </b>brings the highlight on how you mantain a healthy diet while eating a food of your
            choice.
            You body is your shinning amor, in the midst of these sickness you need to protect
            your health and bring strength to body immune system .<br>
            <br>
            I have news for you, try to balance your diet by ensuring that you have mix and healthy nutrition.
            This blog will not restrict you on what to eat, but will bring insight on how to eat.
            The producers add too much sugar on their products for better taste, however this can be health hazardous to
            ones life if not maintained properly.
            I mean too much of everything is dangerous!!! Right! <span> <a
                href="https://www.healthline.com/nutrition/top-10-nutrition-facts#TOC_TITLE_HDR_6">check</a></span> <br>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-warning text-light p-3">
    <div class="container">
      <div class="d-md-flex justify-content-between align-items-center">
        <h3 class="mb-1 mb-md-0">Learn more about nutrition:</h3>
      </div>
    </div>
  </section>

  <!-- Boxes -->
  <section class="p-5">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md">
          <div class="card bg-light text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-laptop"></i>
              </div>
              <span class="material-icons">
                <img src="assets/images/SAAF.PNG" class="img-fluid" alt="image">
              </span>
              <h3 class="card-title mb-3">SAAFoST</h3>
              <p class="card-text">
                SAAFoST is a non-profit, largely volunteer run, national association of food science
                and other technical professionals which is concerned with advancing the knowledge of
                food science and technology. The national secretariat is situated in Durban.
              </p>
              <a href="https://www.saafost.org.za/about/" class="btn btn-success" target="_blank">Read more</a>
            </div>
          </div>
        </div>
        <!--<div class="col-md">
          <div class="card bg-light text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <span class="material-icons">
                <img src="assets/images/covid.jpg" alt="">
                </span>
              <h3 class="card-title mb-3">Covid 19</h3>
              <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Iure, quas quidem possimus dolorum esse eligendi?
              </p>
              <a href="#" class="btn btn-warning text-light">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <span class="material-icons">
                    <img src="assets/images/mental.jpg" alt="">
                    </span>
                <h3 class="card-title mb-3">Mental</h3>
                <p class="card-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Iure, quas quidem possimus dolorum esse eligendi?
                </p>
                <a href="#" class="btn btn-success">Read More</a>
              </div>
            </div>
          </div>-->
        <div class="col-md" id="cardz">
          <div class="card bg-light text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <span class="material-icons">
                <img src="assets/images/processed.PNG" class="img-fluid" alt="image">
              </span>
              <h3 class="myAdd card-title mb-3">Processed Foods</h3>
              <p class="card-text">
                "As much I would love to advise that we can eat healthy foods, it really not up to each and every person"
                , (Samuel, 32). Take care of yourself and be updated with news, check what is trending and save lives.
              </p>
              <a href="https://www.nhs.uk/live-well/eat-well/what-are-processed-foods/" target="_blank"
                class="btn btn-warning text-light">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-light text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <span class="material-icons">
                <img src="assets/images/healthline.PNG" class="img-fluid" alt="image">
              </span>
              <h3 class="card-title mb-3">Healthline</h3>
              <p class="card-text">
                "What I didn’t understand then is that any diet, especially one that removes certain foods, requires planning and balance. I started planning more balanced meals that included a variety of food groups when I moved to Iceland in 2015."
              </p>
              <a href="https://www.gov.za/services/health/admission-mental-health-institution" target="_blank"
                class="btn btn-success text-light">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="p-5 bg-warning text-light text-center position-relative">
    <div class="container">
      <p class="lead">Copyright &copy; 2021 Impilo blog</p>

    </div>
  </footer>
