<section class="home-section" id="title">

    <div class="container-fluid p-0" >
  
        <nav  class="navbar navbar-expand-lg  navbar-dark py-3 fixed-top">
            <div class="container">
                <div class="logo">
                <a href="" ><img src="assets/images/logo.jpg"></a>
                <a href="#" class="navbar-brand" style="margin-left: 20px;"></a>
        
                </div>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a routerLink="/login" class="nav-link text-light" style=" font-size: 1.2rem; font-weight: bold">Impilo</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="" class="nav-link" style="color: aliceblue;"></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        
  
  </div>
  </section>
  <section class="blog">
      <div class="container">
          <div class="row content">
              <div class="col-md-6 mb-3">
                  <img src="../assets/images/a1.png" class="img-fluid" alt="image">
              </div>
              <div class="col-md-6">
                  <h3 class="blog-text mb-3">Achne</h3>
                  <h5 class="name">Written By:</h5>
                  <h6>Ashley Kannemeyer</h6>
                  <p class="text">
                    Acne is a skin condition that occurs when your hair follicles become plugged with oil and dead skin cells. It causes whiteheads, blackheads or pimples. Acne is most common among teenagers, though it affects people of all ages.
  Effective acne treatments are available, but acne can be persistent. The pimples and bumps heal slowly, and when one begins to go away, others seem to crop up.
  Depending on its severity, acne can cause emotional distress and scar the skin. The earlier you start treatment, the lower your risk of such problems.
                      </p>
              </div>
          </div>
      </div>
  </section>
  <section class="bg-warning text-light p-3">
      <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
          <h3 class="mb-1 mb-md-0">Learn more about Acne:</h3>
        </div>
      </div>
    </section>
    <!-- cards -->
    <section class="p-5">
      <div class="container">
        <div class="row text-center g-4">
          <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop"></i>
                </div>
                
                <h3 class="card-title mb-3">Clinical Treatment</h3>
                <p class="card-text p-2">
                There are many scientifically proven soaps and ointments to help...
                </p>
                <a href="https://www.healthline.com/nutrition/13-acne-remedies" target="_blank" class="btn btn-success">Read More</a>
              </div>
            </div>
          </div>
         
          
            <div class="col-md">
              <div class="card bg-light text-dark">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-people"></i>
                  </div>
                  
                    
                  <h3 class="card-title mb-3">Home remedies</h3>
                  <p class="card-text">
                    Normal house hold items can also be affective against achne...
                  </p>
                  <a href="https://www.healthline.com/nutrition/13-acne-remedies" target="_blank" class="btn btn-warning text-light">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="card bg-light text-dark">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-people"></i>
                  </div>
                
                  <h3 class="card-title mb-3">Causes</h3>
                  <p class="card-text">
                    There are many reasons why pimples and black heads occur... 
                  </p>
                  <a href="https://www.mayoclinic.org/diseases-conditions/acne/symptoms-causes/syc-20368047" target="_blank" class="btn btn-success text-light">Read More</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
  <footer class="p-5 bg-warning text-light text-center position-relative">
    <div class="container">
      <p class="lead">Copyright &copy; 2021 Impilo blog</p>

    </div>
  </footer>
  
  
