.navbar {
    background-color: rgba(55, 165, 154, 0.888);
}

.navbar .container .logo img {
    height: 20%;
    width: 20%;
    object-fit: contain;
    border-radius: 10rem;
}

.blog .container {
    padding-top: 100px;
}

