<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Impilo</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.nav-item .nav-link {
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    margin: 0px 10px;
    
}

.blog {
    padding-top: 25px;
}
.references {
    margin-top: 50px;
}
#cardz {
    margin-bottom: 10px;
    margin-top: 10px;
}
    </style>
</head>
<body>
          
    <section class="home-section" id="title">

  <div class="container-fluid p-0">
    <nav  class="navbar navbar-expand-lg  navbar-dark py-3 fixed-top">
        <div class="container">
            <div class="logo">
            <a href="" ><img src="assets/images/logo.jpg"></a>
            <a href="#" class="navbar-brand" style="margin-left: 20px;"></a>
    
            </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a routerLink="/login" class="nav-link text-light" style=" font-size: 1.2rem; font-weight: bold">Impilo</a>
              </li>
              <li class="nav-item">
                <a routerLink="" class="nav-link" style="color: aliceblue;"></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

</div>
</section>
<section class="blog">
    <div class="container">
        <div class="row content">
            <div class="col-md-6 mb-3">
                <img src="assets/images/wellness.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-md-6">
                <h3 class="blog-text mb-3">Mental Health</h3>
                <h5 class="name">Written By:</h5>
                <h6 class="zintle">Zintle Meslane</h6>
                <p class="text">There is a special need for mental and behavioural awareness in our communities and how individuals can actually seek the necessary help through counselling and medication.
                      Taking care of your mental health is just as important as taking care of your physical health. Mental health determines how we handle stress, relate to others and make choices.
                      Factors contributing to mental health problems include: Life experiences such as trauma, abuse or grief and loss, biological factors such as genes or brain chemistry, family history of mental health problems.<!--According to statistics from an article I read in 2018, one in six South Africans suffer
                      from anxiety, depression or substance-use disorders. 40% with HIV suffer from a mental disorder. 41% of pregnant women are depressed. If we consider motor vehicle crashes
                    about 60% could be suffering from post-traumatic stress. Only 20% of SAns with severe mental disorders receive treatment.-->
                    </p>
            </div>
        </div>
    </div>
</section>
<section class="bg-warning text-light p-3">
    <div class="container">
      <div class="d-md-flex justify-content-between align-items-center">
        <h3 class="mb-1 mb-md-0">Learn more about mental health:</h3>
      </div>
    </div>
  </section>

  <!-- Boxes -->
  <section class="p-5">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md">
          <div class="card bg-light text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-laptop"></i>
              </div>
              <span class="material-icons">
                <img src="assets/images/safmh.jpg" class="img-fluid" alt="image">
                </span>
              <h3 class="card-title mb-3">SAFMH</h3>
              <p class="card-text">
            A mental health-focused, human rights non-governmental organisation that promotes
              community mental health care, deinstitutionalisation and fighting for the rights of persons with psychosocial and intellectual disabilities.
              </p>
              <a href="https://www.safmh.org/" target="_blank" class="btn btn-success">Read more</a>
            </div>
          </div>
        </div>
        <!--<div class="col-md">
          <div class="card bg-light text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <span class="material-icons">
                <img src="assets/images/covid.jpg" alt="">
                </span>
              <h3 class="card-title mb-3">Covid 19</h3>
              <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Iure, quas quidem possimus dolorum esse eligendi?
              </p>
              <a href="#" class="btn btn-warning text-light">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <span class="material-icons">
                    <img src="assets/images/mental.jpg" alt="">
                    </span>
                <h3 class="card-title mb-3">Mental</h3>
                <p class="card-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Iure, quas quidem possimus dolorum esse eligendi?
                </p>
                <a href="#" class="btn btn-success">Read More</a>
              </div>
            </div>
          </div>-->
          <div class="col-md" id="cardz">  
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <span class="material-icons">
                    <img src="assets/images/sadag.png" class="img-fluid" alt="image">
                    </span>
                <h3 class="card-title mb-3">SADAG</h3>
                <p class="card-text">
                  SADAG advocates, educates and destigmatize mental illness in South Africa. It is set in assisting patients and callers
                  with mental health queries.
                </p>
                <a href="https://www.sadag.org/index.php?option=com_content&view=article&id=2178:sa-s-sick-state-of-mental-health&catid=74&Itemid=132" target="_blank" class="btn btn-warning text-light">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <span class="material-icons">
                    <img src="assets/images/coat.png" class="img-fluid" alt="image">
                    </span>
                <h3 class="card-title mb-3">South African Government</h3>
                <p class="card-text">
                  This site provides some basic information on how one can get admitted to a mental health institution and a mental health help line. 
                </p>
                <a href="https://www.gov.za/services/health/admission-mental-health-institution" target="_blank" class="btn btn-success text-light">Read more</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="p-5 bg-warning text-light text-center position-relative">
    <div class="container">
      <p class="lead">Copyright &copy; 2021 Impilo blog</p>

    </div>
  </footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>

