<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" id="signup">Registration Form</h3>
                        <form [formGroup]="signupForm">

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="firstName">First Name</label>
                                        <input type="text" formControlName="firstName" id="firstName" class="form-control form-control-lg" />
                                        
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Last Name</label>
                                        <input type="text" formControlName="lastName"  id="lastName" class="form-control form-control-lg" />
                                        
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <label for="profession" class="form-label">Profession</label>
                                        <input type="text" formControlName="profession" class="form-control form-control-lg" id="birthdayDate" />
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <h6 class="mb-2 pb-1">Gender: </h6>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" formControlName="inlineRadioOptions" type="radio" name="inlineRadioOptions"
                                            id="femaleGender" value="Female" checked />
                                        <label class="form-check-label" for="femaleGender">Female</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" formControlName="inlineRadioOptions" type="radio" name="inlineRadioOptions"
                                            id="maleGender" value="Male" />
                                        <label class="form-check-label" for="maleGender">Male</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" formControlName="inlineRadioOptions" type="radio" name="inlineRadioOptions"
                                            id="otherGender" value="Other" />
                                        <label class="form-check-label" for="otherGender">Other</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="emailAddress">Email</label>
                                        <input type="email" formControlName="email" id="emailAddress"
                                            class="form-control form-control-lg" />
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="pwd">Password</label>
                                        <input type="password" formControlName="password" id="pwd" class="form-control form-control-lg" />
                            
                                    </div>

                                </div>
                            </div>

                            <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                                <span>{{ firebaseErrorMessage }}</span>
                            </div>

                            <div class="mt-4 pt-2">
                                <input class="btn btn-class" type="submit" (click)="signupUser()" id="btn"/>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
        <div class="spinner-border spinner-border-sm example-margin" color="primary" mode="indeterminate"></div>
    </div>
    
</section>
<!-- Footer --> <router-outlet></router-outlet>
<footer class="p-5 bg-warning text-light text-center ">
    <div class="container">
      <p class="lead">Copyright &copy; 2021 Impilo blog</p>
 
      
  </div>
  </footer>
   